<form action="/list" method="post">
  <label for="name">
  Add to the list of homes
  <input type="text" name="name" placeholder="name of home">
  </label>
  <br><br>
  <label for="description">
  Add a description
  <input type="text" name="description" placeholder="write a description">
  </label>
  <br><br>
  <label for="price">
  Add a price
  <input type="text" name="price" placeholder="enter a price">
  </label>
  <br><br>
  <label for="start_date">
  Add a start date
  <input type="text" name="start_date" placeholder="YYYY/MM/DD">
  </label>
  <label for="end_date">
  Add an end date
  <input type="text" name="end_date" placeholder="YYYY/MM/DD">
  </label>
  <input type="submit" value="Submit">
</form>




