<html>

  <style>
    div {
      border: 1px solid red;
    }
  </style> 

  <div><a href="/homes">Homes</a></div>
  <div><a href="/list">List a home</a></div>
  <div><a href="/profile">Profile</a></div>
  <div><a href="/login">Sign out</a></div>


  <form action="/homes" method="post">
    <div><button name="Rent" type="text">Rent</button></div>
  </form>

  <form action="/list" method="post">
    <div><button name="List" type="text">List</button></div>
  </form>
</html>