<html>

  <head>
    <title>MakerBnB</title>
    <link href="<%= url('/styles_selection.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <header>

    <form action="/signup" method="post">
      <input type="text" placeholder="Enter Username" name="username" required />

      <input type="password" placeholder="Enter Password" name="password" required />

      <input type="email" placeholder="Enter Email" name="email" required />

      <input type="submit" name="SIGN UP" />
    </form>

  </header>


</html>