
body {
  font-family: 'Montserrat', sans-serif;
  /* background-image: url("https://i.postimg.cc/SNJR6sTf/Jacksonville-Jaguars-logo.png"); */
  background-repeat:no-repeat;
  background-position: center center;
}


/* div {
  border: 1px solid red;
} */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
}

.homes_header {
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #5F9EA0;
}

.homes_overview {
  width: 700px;
  height: 100px;
  padding: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #5F9EA0;
}

.homes_title {
  width: 550px;
  text-align: left;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
}

.homes_description {
  width: 550px;
  height: 60px;
}

.homes a:before {
  content: "HOMES";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.homes a:after{
  position: absolute;
  content: "HOMES";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list_home a:before {
  content: "LIST A HOME";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list_home a:after{
  position: absolute;
  content: "LIST A HOME";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.profile a:before {
  content: "PROFILE";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.profile a:after{
  position: absolute;
  content: "PROFILE";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.sign_out a:before {
  content: "LOG OUT";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.sign_out a:after{
  position: absolute;
  content: "LOG OUT";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

a:link {
  color: rgba(0,0,0,0);
}

a:visited {
  color: rgba(0,0,0,0);
}

a:hover {
  color: rgba(0,0,0,0);
}

a:active {
  color: rgba(0,0,0,0);
}

a::content {
  color: rgba(0,0,0,0);
}

span{
  position: relative;
  display: inline-flex;
  width: 280px;
  height: 85px;
  margin: 0;
  perspective: 1000px;
}

span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif; 
}

.rent a:before {
  content: "RENT";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.rent a:after{
  position: absolute;
  content: "HOME";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list a:before {
  content: "LIST";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list a:after{
  position: absolute;
  content: "HOME";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

span a:before{
  color: #fff;
  background: #5F9EA0;
  transform: rotateY(0deg) translateZ(25px);
}

span a:after{
  color: #5F9EA0;
  transform: rotateX(100deg) translateZ(25px);
}

span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.spacing {
  height: 35%;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles for request page */ 
input[type=date] {
  background-color: rgb(255, 255, 255);
  border: 3px solid #282828;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  padding: 16px 24px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.request a:before {
  content: "REQUEST TO BOOK";
  position: absolute;
  height: 65px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  left: 17px;
  /* border-radius: 5px; */
}

.request a:after{
  position: absolute;
  content: "REQUEST TO BOOK";
  height: 65px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  left: 17px;
  /* border-radius: 5px; */
}

.center {
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.spacing1 {
  height: 10%;
}

/* login/signup */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14
  px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5F9EA0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #5F9EA0;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #5F9EA0;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

/* body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
} */

/*  list page */

.list-page {
  width: 660px;
  padding: 8% 0 0;
  margin: auto;
}

.form_list {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 660px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form_list input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form_list button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5F9EA0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form_list button:hover,.form button:active,.form button:focus {
  background: #5F9EA0;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form_list .message a {
  color: #5F9EA0;
  text-decoration: none;
}
.form_list .register-form {
  display: none;
}


.profile_title{
  text-align: center;
  font-size: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 90px;
  margin-bottom: 70px;
}

.profile_request {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profile_column0 {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex: 1;
  align-self: flex-start;
  background-color: #5f9ea03d;
}

.profile_column {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex: 1;
  align-self: flex-start;
  background-color: #5f9ea03d;
  /* padding-left: 0.5%;
  padding-right: 0.5%; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profile_column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex: 1;
  align-self: flex-start;
  /* background-color: #5f9ea03d; */
  /* padding-left: 0.5%;
  padding-right: 0.5%; */
}

.profile_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.profile_row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}

.profile_open {
  width: 70%;
  height: 10px;
  padding: 20px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 40px; */
  
  border: 6px solid #5F9EA0;
  text-align: left;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: bold; */
  color: black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profile_header {
  width: 80%;
  height: 20px;
  padding: 0px;
  /* margin: 5px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
}

.profile_left {
  margin-right: 10%;
}
