
body {
  font-family: 'Montserrat', sans-serif;
  /* background-image: url("https://i.postimg.cc/SNJR6sTf/Jacksonville-Jaguars-logo.png"); */
  background-repeat:no-repeat;
  background-position: center center;
}

/* div {
  border: 1px solid red;
} */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
}

.homes_overview {
  width: 600px;
  height: 20px;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #5F9EA0;
}

.homes a:before {
  content: "HOMES";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.homes a:after{
  position: absolute;
  content: "HOMES";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list_home a:before {
  content: "LIST A HOME";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list_home a:after{
  position: absolute;
  content: "LIST A HOME";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.profile a:before {
  content: "PROFILE";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.profile a:after{
  position: absolute;
  content: "PROFILE";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.sign_out a:before {
  content: "LOG OUT";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.sign_out a:after{
  position: absolute;
  content: "LOG OUT";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

a:link {
  color: rgba(0,0,0,0);
}

a:visited {
  color: rgba(0,0,0,0);
}

a:hover {
  color: rgba(0,0,0,0);
}

a:active {
  color: rgba(0,0,0,0);
}

a::content {
  color: rgba(0,0,0,0);
}

span{
  position: relative;
  display: inline-flex;
  width: 280px;
  height: 85px;
  margin: 0;
  perspective: 1000px;
}

span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif; 
}

.rent a:before {
  content: "RENT";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.rent a:after{
  position: absolute;
  content: "HOME";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list a:before {
  content: "LIST";
  position: absolute;
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}

.list a:after{
  position: absolute;
  content: "HOME";
  height: 65px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  /* border-radius: 5px; */
}
span a:before{
  color: #fff;
  background: #5F9EA0;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #5F9EA0;
  transform: rotateX(100deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.spacing {
  height: 35%;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles for request page */ 
input[type=date] {
  background-color: rgb(255, 255, 255);
  border: 3px solid #282828;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  padding: 16px 24px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.request a:before {
  content: "REQUEST TO BOOK";
  position: absolute;
  height: 65px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  left: 17px;
  /* border-radius: 5px; */
}

.request a:after{
  position: absolute;
  content: "REQUEST TO BOOK";
  height: 65px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #5F9EA0;
  box-sizing: border-box;
  left: 17px;
  /* border-radius: 5px; */
}

.center {
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.spacing1 {
  height: 10%;
}